<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>911994958906-d06aonn1pi2njfuhta5q9kg9bsmc5n97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911994958906-d06aonn1pi2njfuhta5q9kg9bsmc5n97</string>
	<key>API_KEY</key>
	<string>AIzaSyAD9HjVkkFaG10yz7hPPuVzfVsqnvIBmO8</string>
	<key>GCM_SENDER_ID</key>
	<string>911994958906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gary.feedme</string>
	<key>PROJECT_ID</key>
	<string>feedme-c73c0</string>
	<key>STORAGE_BUCKET</key>
	<string>feedme-c73c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911994958906:ios:ee3e6ec6febfd1bb</string>
	<key>DATABASE_URL</key>
	<string>https://feedme-c73c0.firebaseio.com</string>
</dict>
</plist>